<div class="container-header">
  <div class="header-title">

      <img class="header-icon" src="https://img.icons8.com/ios/50/placeholder-thumbnail-xml.png" alt="icon">


      <h2 >Boris Portafolio</h2>

  </div>

  <div class="header-nav">
    <p >
      <a  [routerLink]="['']" fragment="home">
        Home
      </a>

    </p>

    <p>
      <a  [routerLink]="['']" fragment="proyects">
        Proyectos</a>
    </p>

    <p>
      <a [routerLink]="['']" fragment="contact">Contacto</a></p>

    <div class="container-cv">
      <a class="button"
      href="https://borissilvam.github.io/portafolio/assets/pdf/BorisCV.pdf">
      Descargar CV</a>
    </div>
  </div>
</div>

