<section>
  <div class="container">
    <div class="fondo">
      <div class="fondo-container  flex justify-content-center align-content-end  flex-wrap">
        <div class="flex flex-row justify-content-between h-12rem container-h1">
            <h1  class="flex align-items-center ">
              Hola, Soy {{basic?.name}}
            </h1>
            <figure class="flex align-items-center justify-content-center">
              <img  class="boris " [src]="basic?.image" alt="boris">
            </figure>

        </div>
      </div>
      <div>
        <div>

        </div>
      </div>
    </div>
  </div>
</section>


