.depth2 {
  padding:  8.5rem  10rem 2rem 10rem;

}

.depth3 {
  width: 74.3rem;

}

.depth2-0{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(23, 24, 24);
  padding: 1.2rem 4rem;
  border-bottom: 1px solid rgb(168, 169, 170);

}
