<section>
  <div class="container-education">
    <div class="education-label">
      <h3>Educación</h3>
    </div>

    <div class="education-cards">
      <div class="card" *ngFor="let education of educations">
        <div class="card-title">
          <p class="title">{{ education.area}}</p>
          <p class="date" > {{ education.startDate}} - {{ education.endDate}}</p>
        </div>
        <div class="card-botton">
          <p class="label-institution">{{ education.institution}}</p>
        </div>
      </div>
    </div>

  </div>
</section>
