<section>
  <div class="container-experience">
    <div class="experience-label">
      <h3>Experiencia</h3>
    </div>

    <div class="container-work" *ngFor="let work of works">
      <div class="work-perfil">
        <div class="top">

        </div>
        <div class="fondo" style="background-image: url('{{work.imageUrl}}');">

        </div>
        <div class="botton">

        </div>
      </div>

      <div class="work-text">
        <div >
          <p class="text-title">
           {{work.position}} en {{work.name}}
          </p>
        </div>
        <div >
          <p class="text-date">
            2023
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
